@font-face {
font-family: 'Uni Sans Demo Thin CAPS';
font-style: normal;
font-weight: normal;
src: local('Uni Sans Demo Thin CAPS'), url('assets/UniSansDemoThinCAPS.woff') format('woff');
}    

@font-face {
font-family: 'Uni Sans Demo Thin Italic CAPS';
font-style: normal;
font-weight: normal;
src: local('Uni Sans Demo Thin Italic CAPS'), url('assets/UniSansDemoThinItalicCAPS.woff') format('woff');
}    

@font-face {
font-family: 'Uni Sans Demo Heavy CAPS';
font-style: normal;
font-weight: normal;
src: local('Uni Sans Demo Heavy CAPS'), url('assets/UniSansDemoHeavyCAPS.woff') format('woff');
}

@font-face {
font-family: 'Uni Sans Demo Heavy Italic Caps';
font-style: normal;
font-weight: normal;
src: local('Uni Sans Demo Heavy Italic Caps'), url('assets/UniSansDemoHeavyItalicCaps.woff') format('woff');
}

@font-face {
    font-family: "Inter";
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    src: url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
}

:root {
    --primaryColor: #70e000;
    --secondaryColor: #38B000;
    --textColor: white;
    --primaryBackgroundColor: #373737;
    --secondaryBackgrounColor: black;
    --navAndFooterHeight: 7.5vh;
    --easeTransition: .2s ease-in-out;
}

* {
    font-family: 'Uni Sans Demo Thin CAPS', sans-serif;
    color: var(--textColor)
}

html {
    width: 100vw; height: 100vh;
}

body {
    background-color: var(--primaryBackgroundColor);
    margin: 0;
    display: flex; 
    min-height: 100vh;
}

body p {
    font-size: 150%;
    font-family: 'Inter', sans-serif;
}

body p.splash {
    font-size: 100%;
    top: 45%;
    transition: transform 0.4s ease, top 0.4s ease;
}

.splash.shifted {
    top: 48%;
}

a.download {
    position: absolute;
    opacity: 0;
    height: 4vh;
    width: fit-content;
    transform: translate(-50%, -50%);
    top: 55%; left: 50%;
    transition: var(--easeTransition);
}

a.download img {
    height: 90%;
}

.loading-text span {
    font-family: 'Inter', sans-serif;
    display: inline-block;
    text-align: center;
    transition: transform var(--easeTransition);
    will-change: transform;
    font-size: 250%;
    padding: 5px;
}

.loading-text span.active {
    font-family: 'Inter', sans-serif;
    opacity: 1;
    transform: scale(1.5);
}

.center {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%; top: 50%;
    text-align: center;
}

nav {
    background-color: var(--secondaryBackgrounColor);
    height: var(--navAndFooterHeight);
    width: 100%;
    position: absolute;
    top: 0;
    font-size: 80%;
    border-bottom: 2px solid;
    border-image: linear-gradient(to right, var(--primaryColor), var(--secondaryColor)) 1;
}

nav #logo {
    position: absolute;
    top: 50%;
    left: 2.5%;
    height: 50%;
    width: auto;
    transform: translate(-50%, -50%);
    transform-origin: center;
    transition: var(--easeTransition)
}

nav ol {
    list-style: none;
    display: flex;      
    flex-direction: row; 
    gap: 20px;
    padding: 0;
    margin: 0;
    height: 100%;
    align-items: center;
}

nav li {
    text-decoration: none;
    height: fit-content;
    width: fit-content;
}

nav a {
    text-decoration: none;
    display: inline-grid;
    place-items: center;
    text-align: center;
}

nav a span {
    grid-area: 1 / 1;
}

nav a::after {
    content: attr(title);
    font-family: 'Uni Sans Demo Heavy CAPS', sans-serif;
    grid-area: 1 / 1;
    opacity: 0;
    visibility: hidden;
}

nav a:hover span {
    opacity: 0
}

nav a:hover::after {
    opacity: 1;
    visibility: visible;
    transform: rotate(5deg) scale(1.3);
    color: var(--primaryColor);
    transition: var(--easeTransition);
}

footer {
    background-color: var(--secondaryBackgrounColor);
    height: var(--navAndFooterHeight);
    width: 100vw;
    position: absolute;
    bottom: 0;
    border-top: 2px solid;
    border-image: linear-gradient(to right, var(--primaryColor), var(--secondaryColor)) 1;
}

footer div.container {
    display: flex;      
    flex-direction: row; 
    gap: 20px;
    padding: 0;
    margin: 0;
    height: 100%;
    align-items: center;
}

footer img {
    transition: var(--easeTransition);
    border-radius: 50%;
    height: 50%;
    transform: translate(-50%, -50%);
    transform-origin: center;
}

footer img:hover {
    object-fit: cover;
    transform: translate(-50%, -50%) scale(1.25);
}