<nav>
 <img id="logo" src="assets/logo.png"/>
 <ol class="center">
  |
  <li>
   <a href="/index.html" title="HOME">
    <span>
     HOME
    </span>
   </a>
  </li>
  |
  <li>
   <a href="/roadmap.html" title="ROADMAP">
    <span>
     ROADMAP
    </span>
   </a>
  </li>
  |
  <li>
   <a href="/releases.html" title="RELEASES">
    <span>
     RELEASES
    </span>
   </a>
  </li>
  |
  <li>
   <a href="/support.html" title="SUPPORT">
    <span>
     SUPPORT
    </span>
   </a>
  </li>
  |
  <li>
   <a href="/updates.html" title="UPDATES">
    <span>
     UPDATES
    </span>
   </a>
  </li>
  |
  <li>
   <a href="/FAQ.html" title="FAQ">
    <span>
     FAQ
    </span>
   </a>
  </li>
  |
 </ol>
</nav>
